/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* body,
html,
#root,
.App {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
} */
